@charset "utf-8"

	* {
		padding: 0;
		margin: 0;
	}
	
	.inline {
		display: inline;
	}
	
	.block {
		display: block;
	}
	
	p {
		font-size: 20px;
		color: black;
        	font-family: 'Times New Roman';
		text-align: center;
    	}
    	
	h1 {
		font-size: 100px;
		font-family: 'Times New Roman';
		color: black;
		text-align: center;
	}
	
	body {
		background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-26075.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
	
    .upgrades {
	    border-top-color: blue;
		border-width: 2px;
		border-bottom-color: red;
	}

